// fonts
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Quicksand:wght@300..700&display=swap');
// fonts

// imports
@import "assets/partials/header";
// @import "./partials/_main.scss";
@import "assets/partials/components";
@import "assets/partials/colors";
@import "assets/partials/search";
// @import "./partials/_footer.scss";
// imports

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body{
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  padding-top: 1rem;
  scroll-behavior: smooth;
  background: var(--white-bg-dark);
}

html{
  scroll-padding-top: 3rem;
  scroll-behavior: smooth;
}

button {
   cursor: pointer;
}
  
img, svg{
    width: 100%;
  }

a, ul {
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}
